<a href="https://colab.research.google.com/github/mzkhan2000/my_code_challenge/blob/main/Task_Moni_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# import necessary libraries - Monir
import pandas as pd
import numpy as np
import datetime
from datetime import datetime

In [2]:
from google.colab import files
uploaded = files.upload()

Saving date-time-cars.csv to date-time-cars.csv

In [3]:
data = pd.read_csv('date-time-cars.csv', header=None)

In [4]:
print(data)

                      0   1
0   2021-12-01T05:00:00   5
1   2021-12-01T05:30:00  12
2   2021-12-01T06:00:00  14
3   2021-12-01T06:30:00  15
4   2021-12-01T07:00:00  25
5   2021-12-01T07:30:00  46
6   2021-12-01T08:00:00  42
7   2021-12-01T15:00:00   9
8   2021-12-01T15:30:00  11
9   2021-12-01T23:30:00   0
10  2021-12-05T09:30:00  18
11  2021-12-05T10:30:00  15
12  2021-12-05T11:30:00   7
13  2021-12-05T12:30:00   6
14  2021-12-05T13:30:00   9
15  2021-12-05T14:30:00  11
16  2021-12-05T15:30:00  15
17  2021-12-08T18:00:00  33
18  2021-12-08T19:00:00  28
19  2021-12-08T20:00:00  25
20  2021-12-08T21:00:00  21
21  2021-12-08T22:00:00  16
22  2021-12-08T23:00:00  11
23  2021-12-09T00:00:00   4

In [5]:
data.columns = ["datetime", "cars"]

In [6]:
df=data
# convert the 'Date' column to datetime format
df['datetime']= pd.to_datetime(df['datetime'])
 
# Check the format of 'Date' column
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   datetime  24 non-null     datetime64[ns]
 1   cars      24 non-null     int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 512.0 bytes

The number of cars seen in total

In [7]:
total_number_of_cars = data['cars'].sum()
print(total_number_of_cars)

398

In [8]:
m = df['datetime'].dt.date.groupby(df['cars']).apply(lambda x: x.diff().shift(-1).ffill()).abs().eq(1)

In [9]:
df1 = df[m]

In [11]:
print(df1)

Empty DataFrame
Columns: [datetime, cars]
Index: []

In [12]:
#convert datetime column to just date
df['date'] = pd.to_datetime(df['datetime']).dt.date

A sequence of lines where each line contains a date (in yyyy-mm-dd format) and the number of cars seen on that day (eg. 2016-11-23 289) for all days listed in the input file.

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   datetime  24 non-null     datetime64[ns]
 1   cars      24 non-null     int64
 2   date      24 non-null     object
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 704.0+ bytes

In [14]:
print(df)

              datetime  cars        date
0  2021-12-01 05:00:00     5  2021-12-01
1  2021-12-01 05:30:00    12  2021-12-01
2  2021-12-01 06:00:00    14  2021-12-01
3  2021-12-01 06:30:00    15  2021-12-01
4  2021-12-01 07:00:00    25  2021-12-01
5  2021-12-01 07:30:00    46  2021-12-01
6  2021-12-01 08:00:00    42  2021-12-01
7  2021-12-01 15:00:00     9  2021-12-01
8  2021-12-01 15:30:00    11  2021-12-01
9  2021-12-01 23:30:00     0  2021-12-01
10 2021-12-05 09:30:00    18  2021-12-05
11 2021-12-05 10:30:00    15  2021-12-05
12 2021-12-05 11:30:00     7  2021-12-05
13 2021-12-05 12:30:00     6  2021-12-05
14 2021-12-05 13:30:00     9  2021-12-05
15 2021-12-05 14:30:00    11  2021-12-05
16 2021-12-05 15:30:00    15  2021-12-05
17 2021-12-08 18:00:00    33  2021-12-08
18 2021-12-08 19:00:00    28  2021-12-08
19 2021-12-08 20:00:00    25  2021-12-08
20 2021-12-08 21:00:00    21  2021-12-08
21 2021-12-08 22:00:00    16  2021-12-08
22 2021-12-08 23:00:00    11  2021-12-08
23 2021-12-09 00:00:00     4  2021-12-09

In [16]:
df.set_index('date')

                      datetime  cars
date
2021-12-01 2021-12-01 05:00:00     5
2021-12-01 2021-12-01 05:30:00    12
2021-12-01 2021-12-01 06:00:00    14
2021-12-01 2021-12-01 06:30:00    15
2021-12-01 2021-12-01 07:00:00    25
2021-12-01 2021-12-01 07:30:00    46
2021-12-01 2021-12-01 08:00:00    42
2021-12-01 2021-12-01 15:00:00     9
2021-12-01 2021-12-01 15:30:00    11
2021-12-01 2021-12-01 23:30:00     0
2021-12-05 2021-12-05 09:30:00    18
2021-12-05 2021-12-05 10:30:00    15
2021-12-05 2021-12-05 11:30:00     7
2021-12-05 2021-12-05 12:30:00     6
2021-12-05 2021-12-05 13:30:00     9
2021-12-05 2021-12-05 14:30:00    11
2021-12-05 2021-12-05 15:30:00    15
2021-12-08 2021-12-08 18:00:00    33
2021-12-08 2021-12-08 19:00:00    28
2021-12-08 2021-12-08 20:00:00    25
2021-12-08 2021-12-08 21:00:00    21
2021-12-08 2021-12-08 22:00:00    16
2021-12-08 2021-12-08 23:00:00    11
2021-12-09 2021-12-09 00:00:00     4

In [17]:
print(df)

              datetime  cars        date
0  2021-12-01 05:00:00     5  2021-12-01
1  2021-12-01 05:30:00    12  2021-12-01
2  2021-12-01 06:00:00    14  2021-12-01
3  2021-12-01 06:30:00    15  2021-12-01
4  2021-12-01 07:00:00    25  2021-12-01
5  2021-12-01 07:30:00    46  2021-12-01
6  2021-12-01 08:00:00    42  2021-12-01
7  2021-12-01 15:00:00     9  2021-12-01
8  2021-12-01 15:30:00    11  2021-12-01
9  2021-12-01 23:30:00     0  2021-12-01
10 2021-12-05 09:30:00    18  2021-12-05
11 2021-12-05 10:30:00    15  2021-12-05
12 2021-12-05 11:30:00     7  2021-12-05
13 2021-12-05 12:30:00     6  2021-12-05
14 2021-12-05 13:30:00     9  2021-12-05
15 2021-12-05 14:30:00    11  2021-12-05
16 2021-12-05 15:30:00    15  2021-12-05
17 2021-12-08 18:00:00    33  2021-12-08
18 2021-12-08 19:00:00    28  2021-12-08
19 2021-12-08 20:00:00    25  2021-12-08
20 2021-12-08 21:00:00    21  2021-12-08
21 2021-12-08 22:00:00    16  2021-12-08
22 2021-12-08 23:00:00    11  2021-12-08
23 2021-12-09 00:00:00     4  2021-12-09

In [ ]:
df=data
# convert the 'datetime' column to datetime format
df['datetime']= pd.to_datetime(df['datetime'])
 
# Check the format of 'Date' column
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   datetime  24 non-null     datetime64[ns]
 1   cars      24 non-null     int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 512.0 bytes

In [ ]:
print(df)

              datetime  cars
0  2021-12-01 05:00:00     5
1  2021-12-01 05:30:00    12
2  2021-12-01 06:00:00    14
3  2021-12-01 06:30:00    15
4  2021-12-01 07:00:00    25
5  2021-12-01 07:30:00    46
6  2021-12-01 08:00:00    42
7  2021-12-01 15:00:00     9
8  2021-12-01 15:30:00    11
9  2021-12-01 23:30:00     0
10 2021-12-05 09:30:00    18
11 2021-12-05 10:30:00    15
12 2021-12-05 11:30:00     7
13 2021-12-05 12:30:00     6
14 2021-12-05 13:30:00     9
15 2021-12-05 14:30:00    11
16 2021-12-05 15:30:00    15
17 2021-12-08 18:00:00    33
18 2021-12-08 19:00:00    28
19 2021-12-08 20:00:00    25
20 2021-12-08 21:00:00    21
21 2021-12-08 22:00:00    16
22 2021-12-08 23:00:00    11
23 2021-12-09 00:00:00     4

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   datetime  24 non-null     datetime64[ns]
 1   cars      24 non-null     int64
 2   date      24 non-null     object
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 704.0+ bytes

In [15]:
df.set_index('datetime')
# print(df)
print(df.index.name)

None

In [16]:
df.set_index('datetime')
# df['delta'] = (df['datetime']-df['datetime'].shift()).fillna(0)

# df['deltaT'] = df.index.to_series().diff().dt.seconds.div(60, fill_value=0)

                     cars        date
datetime
2021-12-01 05:00:00     5  2021-12-01
2021-12-01 05:30:00    12  2021-12-01
2021-12-01 06:00:00    14  2021-12-01
2021-12-01 06:30:00    15  2021-12-01
2021-12-01 07:00:00    25  2021-12-01
2021-12-01 07:30:00    46  2021-12-01
2021-12-01 08:00:00    42  2021-12-01
2021-12-01 15:00:00     9  2021-12-01
2021-12-01 15:30:00    11  2021-12-01
2021-12-01 23:30:00     0  2021-12-01
2021-12-05 09:30:00    18  2021-12-05
2021-12-05 10:30:00    15  2021-12-05
2021-12-05 11:30:00     7  2021-12-05
2021-12-05 12:30:00     6  2021-12-05
2021-12-05 13:30:00     9  2021-12-05
2021-12-05 14:30:00    11  2021-12-05
2021-12-05 15:30:00    15  2021-12-05
2021-12-08 18:00:00    33  2021-12-08
2021-12-08 19:00:00    28  2021-12-08
2021-12-08 20:00:00    25  2021-12-08
2021-12-08 21:00:00    21  2021-12-08
2021-12-08 22:00:00    16  2021-12-08
2021-12-08 23:00:00    11  2021-12-08
2021-12-09 00:00:00     4  2021-12-09

In [17]:
# A sequence of lines where each line contains a date (in yyyy-mm-dd format) and the number of cars seen on that day (eg. 2016-11-23 289) for all days listed in the input file.
df2=df.groupby(["date"]).sum()

A sequence of lines where each line contains a date (in yyyy-mm-dd format) and the number of cars seen on that day (eg. 2016-11-23 289) for all days listed in the input file.

In [18]:
print(df2)

            cars
date
2021-12-01   179
2021-12-05    81
2021-12-08   134
2021-12-09     4

In [26]:
df['tvalue'] = df.index

In [27]:
# df['delta'] = (df['datetime']-df['datetime'].shift()).fillna(0)
# Seconds to minutes conversion:
df['dtime'] = df['datetime'].diff()
df['delta'] = df['datetime'].diff().dt.seconds.div(60, fill_value=0)
df['delta1'] = df['datetime'].diff(-1).dt.seconds.div(60, fill_value=0)

In [35]:
#Timestamp
time_period = pd.Timedelta("01:30:00")
dif = '0 days 00:30:00'

# dif = dif.astype('datetime64[s]')
# d = (df.iloc[1]['datetime'] - df.iloc[0]['datetime'])
d = (df.iloc[3]['datetime'] - df.iloc[0]['datetime'])

if d == df.iloc[1]['dtime']:
  print("only half hours") 

if d == time_period:
  print("1 and half hours") 

LN = len(df['datetime'])

period_df = pd.DataFrame(columns=['from_date','to_date','cars_sum'])
cars = []
from_date = []
to_date = []


for n in range(1, len(df['datetime'])):
  for m in range(0, len(df['datetime'])):
    if not (df.iloc[n]['datetime'] - df.iloc[m]['datetime']) > time_period:
      #break
      if (df.iloc[n]['datetime'] - df.iloc[m]['datetime']) == time_period:
        print("From function: 1 and half hours", n, m)
        nn = n; mm = m
        if not cars == None:
          car = 0
        for i in range(mm, nn):
          car += df.iloc[i]['cars']
        cars.append(car)
        from_date.append(df.iloc[m]['datetime'])
        to_date.append(df.iloc[n]['datetime'])

print("======The 1.5 hour period with least cars:=======")
for i in range(0, len(cars)):
  #period_df.iloc[i]['from_date'] = from_date[i]
  #period_df.iloc[i]['to_date'] = to_date[i]
  #period_df.iloc[i]['cars_sum'] = cars[i]
  print("from_date:", from_date[i], "to_date:", to_date[i], "Cars:", cars[i])
        
# print(len(cars))
# print(cars[3])
print("======The 1.5 hour period with least cars:=======")
#print(period_df)

    




 # if (df.iloc[i]['datetime'] - df.iloc[m]['datetime']) < time_period:
 #   print("From function: Smaller") 
 # if (df.iloc[n]['datetime'] - df.iloc[m]['datetime']) == time_period:
 #   print("From function: 1 and half hours")
 # elif (df.iloc[n]['datetime'] - df.iloc[m]['datetime']) > time_period:
 #   print("From function: Greater")

   

print("LEN:", LN)
print(d)
print(df.iloc[1]['datetime'])
print(df.iloc[0]['datetime'])

print("df.iloc[1]['datetime']")
df.iloc[1]['datetime']
print("td")
print(time_period)
# df.info()
# df.to = [pd.Timestamp('2014-01-24 13:03:12.050000'), pd.Timestamp('2014-01-27 11:57:18.240000')]

1 and half hours
From function: 1 and half hours 3 0
From function: 1 and half hours 4 1
From function: 1 and half hours 5 2
From function: 1 and half hours 6 3
======The 1.5 hour period with least cars:=======
from_date: 2021-12-01 05:00:00 to_date: 2021-12-01 06:30:00 Cars: 31
from_date: 2021-12-01 05:30:00 to_date: 2021-12-01 07:00:00 Cars: 41
from_date: 2021-12-01 06:00:00 to_date: 2021-12-01 07:30:00 Cars: 54
from_date: 2021-12-01 06:30:00 to_date: 2021-12-01 08:00:00 Cars: 86
======The 1.5 hour period with least cars:=======
LEN: 24
0 days 01:30:00
2021-12-01 05:30:00
2021-12-01 05:00:00
df.iloc[1]['datetime']
td
0 days 01:30:00

In [29]:
print(df)

              datetime  cars        date  delta  delta1  delta2           dtime
0  2021-12-01 05:00:00     5  2021-12-01    0.0  1410.0     0.0             NaT
1  2021-12-01 05:30:00    12  2021-12-01   30.0  1410.0    30.0 0 days 00:30:00
2  2021-12-01 06:00:00    14  2021-12-01   30.0  1410.0    30.0 0 days 00:30:00
3  2021-12-01 06:30:00    15  2021-12-01   30.0  1410.0    30.0 0 days 00:30:00
4  2021-12-01 07:00:00    25  2021-12-01   30.0  1410.0    30.0 0 days 00:30:00
5  2021-12-01 07:30:00    46  2021-12-01   30.0  1410.0    30.0 0 days 00:30:00
6  2021-12-01 08:00:00    42  2021-12-01   30.0  1020.0    30.0 0 days 00:30:00
7  2021-12-01 15:00:00     9  2021-12-01  420.0  1410.0   420.0 0 days 07:00:00
8  2021-12-01 15:30:00    11  2021-12-01   30.0   960.0    30.0 0 days 00:30:00
9  2021-12-01 23:30:00     0  2021-12-01  480.0   840.0   480.0 0 days 08:00:00
10 2021-12-05 09:30:00    18  2021-12-05  600.0  1380.0   600.0 3 days 10:00:00
11 2021-12-05 10:30:00    15  2021-12-05   60.0  1380.0    60.0 0 days 01:00:00
12 2021-12-05 11:30:00     7  2021-12-05   60.0  1380.0    60.0 0 days 01:00:00
13 2021-12-05 12:30:00     6  2021-12-05   60.0  1380.0    60.0 0 days 01:00:00
14 2021-12-05 13:30:00     9  2021-12-05   60.0  1380.0    60.0 0 days 01:00:00
15 2021-12-05 14:30:00    11  2021-12-05   60.0  1380.0    60.0 0 days 01:00:00
16 2021-12-05 15:30:00    15  2021-12-05   60.0  1290.0    60.0 0 days 01:00:00
17 2021-12-08 18:00:00    33  2021-12-08  150.0  1380.0   150.0 3 days 02:30:00
18 2021-12-08 19:00:00    28  2021-12-08   60.0  1380.0    60.0 0 days 01:00:00
19 2021-12-08 20:00:00    25  2021-12-08   60.0  1380.0    60.0 0 days 01:00:00
20 2021-12-08 21:00:00    21  2021-12-08   60.0  1380.0    60.0 0 days 01:00:00
21 2021-12-08 22:00:00    16  2021-12-08   60.0  1380.0    60.0 0 days 01:00:00
22 2021-12-08 23:00:00    11  2021-12-08   60.0  1380.0    60.0 0 days 01:00:00
23 2021-12-09 00:00:00     4  2021-12-09   60.0     0.0    60.0 0 days 01:00:00

In [26]:
df.diff()

          datetime  cars             date  delta  delta1  delta2
0              NaT   NaN              NaN    NaN     NaN     NaN
1  0 days 00:30:00   7.0          0:00:00   30.0     0.0    30.0
2  0 days 00:30:00   2.0          0:00:00    0.0     0.0     0.0
3  0 days 00:30:00   1.0          0:00:00    0.0     0.0     0.0
4  0 days 00:30:00  10.0          0:00:00    0.0     0.0     0.0
5  0 days 00:30:00  21.0          0:00:00    0.0     0.0     0.0
6  0 days 00:30:00  -4.0          0:00:00    0.0  -390.0     0.0
7  0 days 07:00:00 -33.0          0:00:00  390.0   390.0   390.0
8  0 days 00:30:00   2.0          0:00:00 -390.0  -450.0  -390.0
9  0 days 08:00:00 -11.0          0:00:00  450.0  -120.0   450.0
10 3 days 10:00:00  18.0  4 days, 0:00:00  120.0   540.0   120.0
11 0 days 01:00:00  -3.0          0:00:00 -540.0     0.0  -540.0
12 0 days 01:00:00  -8.0          0:00:00    0.0     0.0     0.0
13 0 days 01:00:00  -1.0          0:00:00    0.0     0.0     0.0
14 0 days 01:00:00   3.0          0:00:00    0.0     0.0     0.0
15 0 days 01:00:00   2.0          0:00:00    0.0     0.0     0.0
16 0 days 01:00:00   4.0          0:00:00    0.0   -90.0     0.0
17 3 days 02:30:00  18.0  3 days, 0:00:00   90.0    90.0    90.0
18 0 days 01:00:00  -5.0          0:00:00  -90.0     0.0   -90.0
19 0 days 01:00:00  -3.0          0:00:00    0.0     0.0     0.0
20 0 days 01:00:00  -4.0          0:00:00    0.0     0.0     0.0
21 0 days 01:00:00  -5.0          0:00:00    0.0     0.0     0.0
22 0 days 01:00:00  -5.0          0:00:00    0.0     0.0     0.0
23 0 days 01:00:00  -7.0   1 day, 0:00:00    0.0 -1380.0     0.0

In [47]:
df["month"] = df["datetime"].dt.month
print(df)

              datetime  cars        date  tvalue  delta  month
0  2021-12-01 05:00:00     5  2021-12-01       0    0.0     12
1  2021-12-01 05:30:00    12  2021-12-01       1   30.0     12
2  2021-12-01 06:00:00    14  2021-12-01       2   30.0     12
3  2021-12-01 06:30:00    15  2021-12-01       3   30.0     12
4  2021-12-01 07:00:00    25  2021-12-01       4   30.0     12
5  2021-12-01 07:30:00    46  2021-12-01       5   30.0     12
6  2021-12-01 08:00:00    42  2021-12-01       6   30.0     12
7  2021-12-01 15:00:00     9  2021-12-01       7  420.0     12
8  2021-12-01 15:30:00    11  2021-12-01       8   30.0     12
9  2021-12-01 23:30:00     0  2021-12-01       9  480.0     12
10 2021-12-05 09:30:00    18  2021-12-05      10  600.0     12
11 2021-12-05 10:30:00    15  2021-12-05      11   60.0     12
12 2021-12-05 11:30:00     7  2021-12-05      12   60.0     12
13 2021-12-05 12:30:00     6  2021-12-05      13   60.0     12
14 2021-12-05 13:30:00     9  2021-12-05      14   60.0     12
15 2021-12-05 14:30:00    11  2021-12-05      15   60.0     12
16 2021-12-05 15:30:00    15  2021-12-05      16   60.0     12
17 2021-12-08 18:00:00    33  2021-12-08      17  150.0     12
18 2021-12-08 19:00:00    28  2021-12-08      18   60.0     12
19 2021-12-08 20:00:00    25  2021-12-08      19   60.0     12
20 2021-12-08 21:00:00    21  2021-12-08      20   60.0     12
21 2021-12-08 22:00:00    16  2021-12-08      21   60.0     12
22 2021-12-08 23:00:00    11  2021-12-08      22   60.0     12
23 2021-12-09 00:00:00     4  2021-12-09      23   60.0     12

In [48]:
df["hour"] = df["datetime"].dt.hour
print(df)

              datetime  cars        date  tvalue  delta  month  hour
0  2021-12-01 05:00:00     5  2021-12-01       0    0.0     12     5
1  2021-12-01 05:30:00    12  2021-12-01       1   30.0     12     5
2  2021-12-01 06:00:00    14  2021-12-01       2   30.0     12     6
3  2021-12-01 06:30:00    15  2021-12-01       3   30.0     12     6
4  2021-12-01 07:00:00    25  2021-12-01       4   30.0     12     7
5  2021-12-01 07:30:00    46  2021-12-01       5   30.0     12     7
6  2021-12-01 08:00:00    42  2021-12-01       6   30.0     12     8
7  2021-12-01 15:00:00     9  2021-12-01       7  420.0     12    15
8  2021-12-01 15:30:00    11  2021-12-01       8   30.0     12    15
9  2021-12-01 23:30:00     0  2021-12-01       9  480.0     12    23
10 2021-12-05 09:30:00    18  2021-12-05      10  600.0     12     9
11 2021-12-05 10:30:00    15  2021-12-05      11   60.0     12    10
12 2021-12-05 11:30:00     7  2021-12-05      12   60.0     12    11
13 2021-12-05 12:30:00     6  2021-12-05      13   60.0     12    12
14 2021-12-05 13:30:00     9  2021-12-05      14   60.0     12    13
15 2021-12-05 14:30:00    11  2021-12-05      15   60.0     12    14
16 2021-12-05 15:30:00    15  2021-12-05      16   60.0     12    15
17 2021-12-08 18:00:00    33  2021-12-08      17  150.0     12    18
18 2021-12-08 19:00:00    28  2021-12-08      18   60.0     12    19
19 2021-12-08 20:00:00    25  2021-12-08      19   60.0     12    20
20 2021-12-08 21:00:00    21  2021-12-08      20   60.0     12    21
21 2021-12-08 22:00:00    16  2021-12-08      21   60.0     12    22
22 2021-12-08 23:00:00    11  2021-12-08      22   60.0     12    23
23 2021-12-09 00:00:00     4  2021-12-09      23   60.0     12     0

In [1]:
# df_15hour = df.groupby(pd.Grouper(freq='90Min', base=0, label='right')).first()
# same thing using resample - df.resample('60Min', base=30, label='right').first()
# df_15hour = df.resample(freq="90Min")

In [24]:
df3=df.groupby(["delta"])

In [26]:
# group by Team, get mean, min, and max value of Age for each value of Team.
df4 = df.groupby('date').agg({'cars': ['sum']})

In [28]:
print(df4)

           cars
            sum
date
2021-12-01  179
2021-12-05   81
2021-12-08  134
2021-12-09    4

In [32]:
# df5 = df.groupby(["delta"]).get_group("30.0")
df5 = df.groupby(["delta"])
print(df5)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7f6e8203a4d0>

In [38]:
for name, group in df5:
    print(name)
    print(group)

0.0
             datetime  cars        date  tvalue  delta
0 2021-12-01 05:00:00     5  2021-12-01       0    0.0
30.0
             datetime  cars        date  tvalue  delta
1 2021-12-01 05:30:00    12  2021-12-01       1   30.0
2 2021-12-01 06:00:00    14  2021-12-01       2   30.0
3 2021-12-01 06:30:00    15  2021-12-01       3   30.0
4 2021-12-01 07:00:00    25  2021-12-01       4   30.0
5 2021-12-01 07:30:00    46  2021-12-01       5   30.0
6 2021-12-01 08:00:00    42  2021-12-01       6   30.0
8 2021-12-01 15:30:00    11  2021-12-01       8   30.0
60.0
              datetime  cars        date  tvalue  delta
11 2021-12-05 10:30:00    15  2021-12-05      11   60.0
12 2021-12-05 11:30:00     7  2021-12-05      12   60.0
13 2021-12-05 12:30:00     6  2021-12-05      13   60.0
14 2021-12-05 13:30:00     9  2021-12-05      14   60.0
15 2021-12-05 14:30:00    11  2021-12-05      15   60.0
16 2021-12-05 15:30:00    15  2021-12-05      16   60.0
18 2021-12-08 19:00:00    28  2021-12-08      18   60.0
19 2021-12-08 20:00:00    25  2021-12-08      19   60.0
20 2021-12-08 21:00:00    21  2021-12-08      20   60.0
21 2021-12-08 22:00:00    16  2021-12-08      21   60.0
22 2021-12-08 23:00:00    11  2021-12-08      22   60.0
23 2021-12-09 00:00:00     4  2021-12-09      23   60.0
150.0
              datetime  cars        date  tvalue  delta
17 2021-12-08 18:00:00    33  2021-12-08      17  150.0
420.0
             datetime  cars        date  tvalue  delta
7 2021-12-01 15:00:00     9  2021-12-01       7  420.0
480.0
             datetime  cars        date  tvalue  delta
9 2021-12-01 23:30:00     0  2021-12-01       9  480.0
600.0
              datetime  cars        date  tvalue  delta
10 2021-12-05 09:30:00    18  2021-12-05      10  600.0

In [41]:
df_30m = df5.get_group(30.0)
df_30m

             datetime  cars        date  tvalue  delta
1 2021-12-01 05:30:00    12  2021-12-01       1   30.0
2 2021-12-01 06:00:00    14  2021-12-01       2   30.0
3 2021-12-01 06:30:00    15  2021-12-01       3   30.0
4 2021-12-01 07:00:00    25  2021-12-01       4   30.0
5 2021-12-01 07:30:00    46  2021-12-01       5   30.0
6 2021-12-01 08:00:00    42  2021-12-01       6   30.0
8 2021-12-01 15:30:00    11  2021-12-01       8   30.0

In [43]:
df_30m_top3 = df_30m['cars'].nlargest(3)
df_30m_top3

5    46
6    42
4    25
Name: cars, dtype: int64

In [45]:
# df_30m_top3 = df_30m.loc[df_30m['cars'].nlargest(3)]
df_30m_top3 = df_30m.loc[df_30m['cars'].isin(df_30m['cars'].nlargest(3))]
df_30m_top3

             datetime  cars        date  tvalue  delta
4 2021-12-01 07:00:00    25  2021-12-01       4   30.0
5 2021-12-01 07:30:00    46  2021-12-01       5   30.0
6 2021-12-01 08:00:00    42  2021-12-01       6   30.0

In [42]:
# selecting rows based on condition
# rslt_df = dataframe[dataframe['Percentage'] > 80]

In [ ]:
30.0

In [33]:
tdf = pd.DataFrame(
    {
        "A": ["foo", "bar", "foo", "bar", "foo", "bar", "foo", "foo"],
        "B": ["one", "one", "two", "three", "two", "two", "one", "three"],
        "C": np.random.randn(8),
        "D": np.random.randn(8),
    }
)

In [34]:
tdf

     A      B         C         D
0  foo    one -0.550309 -1.512572
1  bar    one -0.050467  0.189017
2  foo    two -0.559609  1.524420
3  bar  three -0.618918 -0.607414
4  foo    two -0.752648  1.057847
5  bar    two  0.386785  1.650399
6  foo    one -0.921714 -0.261912
7  foo  three  0.733565 -1.263566

In [36]:
grouped = tdf.groupby(["A"])
grouped

In [37]:
for name, group in grouped:
    print(name)
    print(group)

bar
     A      B         C         D
1  bar    one -0.050467  0.189017
3  bar  three -0.618918 -0.607414
5  bar    two  0.386785  1.650399
foo
     A      B         C         D
0  foo    one -0.550309 -1.512572
2  foo    two -0.559609  1.524420
4  foo    two -0.752648  1.057847
6  foo    one -0.921714 -0.261912
7  foo  three  0.733565 -1.263566

In [ ]:
# group by Team, get mean, min, and max value of Age for each value of Team.
df5 = df.groupby('delta').agg({'cars': ['max']})

In [20]:
datelist = df['date'].unique().tolist()

In [22]:
date_unique = df['date'].unique()

In [21]:
print(datelist)

[datetime.date(2021, 12, 1), datetime.date(2021, 12, 5), datetime.date(2021, 12, 8), datetime.date(2021, 12, 9)]

In [23]:
print(date_unique)

[datetime.date(2021, 12, 1) datetime.date(2021, 12, 5)
 datetime.date(2021, 12, 8) datetime.date(2021, 12, 9)]

In [24]:
date_unique[0]

datetime.date(2021, 12, 1)